@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #8BC6EC;
}

.container{
    width: 850px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 35px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container h2{
    font-size: 22px;
    font-weight: 500px;
}

.edit{
    display: flex;
    min-height: 320px;
    margin: 20px 0;
}

.edit .editor-section{
    width: 280px;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.editor-section .title{
    font-size: 16px;
    margin-bottom: 12px;
}

.editor-section .options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editor-section button{
    height: 40px;
    color: #ccc1cc;
    font-size: 14px;
    margin-bottom: 8px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc1cc;
}

.editor-section button:hover{
    background-color: #f5f5f5;
}

.filter button{
    width: 48%;
}

.rotate button{
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter button.active{
    background-color: #000DFF;
    color: #fff;
    border: 1px solid #000DFF;
}

.slider{
    margin-top: 12px;
    margin-bottom: 15px
}

.slider-info{
    display: flex;
    justify-content: space-between;
    color: #020202;
    font-size: 14px;
}

.slider input{
    width: 100%;
    height: 5px;
    accent-color: #000DFF;
}

.image-section{
    width: calc(100% - 300px);
    margin-left: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img{
    max-height: 335px;
    max-width: 490px;
    object-fit: contain;
}

.control{
    display: flex;
    justify-content: space-between;
}

.control button{
    font-size: 14px;
    cursor: pointer;
    padding: 11px 20px;
    border-radius: 3px;
    background-color: #fff;
    color: #6c757D;
}

.control .choose-img{
    border: 1px solid #6c757D;
    color: #fff;
    background-color:#6c757D;
}

.control .save-img{
    background-color: #000DFF;
    color: #fff;
    border: 1px solid #000DFF;
}


@media screen and (max-width: 880px){

    .container{
        width: 90%;
        margin: 1.2rem 0;
        padding: 25px;
    }

    .edit{
        flex-wrap: wrap-reverse;
    }

    .edit .editor-section{
        width: 90%;
        margin: auto;
    }

    
    .image-section{
        margin-left: 0px;
        margin-bottom: 1rem;
        width: 100%;
    }
    
}

.edit.disable,
.reset-filters.disable,
.save-img.disable{
    opacity: 0.5;
    pointer-events: none;
}


@media screen and (max-width: 700px) {

    .edit .editor-section{
        width: 100%;
    }

    .image-section{
        width: 98%;
        margin-inline: auto;
    }
    
}


@media screen and (max-width: 575px) {

    .container{
        width: 95%;
    }

    .image-section{
        width: 95%;
    }

    .edit .editor-section{
        width: 100%;
    }

    .control, .right{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
}
